<div style="display: flex; height: 100%;">
  <div style="display: flex; flex: 0.4; background-color: rgb(255, 255, 255) 100%;">
    {{> modal_login}}
  </div>
  <div style="display: flex; flex: 0.6; background: linear-gradient(270deg, #52AA8A 28.97%, rgba(61, 165, 224, 0) 100%);">
    <div style="text-align: center; align-items: center; width: 100%;">
        <img src="../img/logo_DBOOK-removebg-preview.png" alt="Logo DBook" width="650px" height="650px">
    </div>
  </div>
</div>