a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
a {
  color: #337ab7;
  text-decoration: none;
}
.div_icon {
  display: inline-block;
  width: 110px;
  height: 110px;
  padding: 15px;
  border-radius: 50%;
  border: 5px solid #1692e3;
  overflow: hidden;
}
.div_icon img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.cac-khoa {
  display: grid;
  grid-template-columns: calc(25% - 10px) calc(25% - 10px) calc(25% - 10px) calc(
      25% - 10px
    );
  justify-items: stretch;
  gap: 15px;
}
.item {
  height: 100%;
  width: 100%;
  justify-self: center;
  border-radius: 10px;
  overflow: hidden;
  background: #fff !important;
}
.ten_khoa {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-family: "HelveticaNeue";
}
.ten_khoa:hover {
  color: #337ab7;
}

.ho-tro {
  display: flex;
  margin: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  border-width: 1px;
  box-shadow: rgb(0 0 0 / 40%) 0px 4px 12px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}

.ho-tro img {
  width: 100px;
  height: 100px;
}
