<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="index.html"><img
                        src="https://logo-download.com/wp-content/data/images/2021/08/Levi_Strauss__Co.-Logo.png" alt=""
                        class="img-fluid logo-footer"></a>
                <div class="footer-about">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, </p>
                </div>
            </div>
            <div class="col-md-3" style="margin-left: 20%;">
                <div class="social-links">
                    <h2>Follow Us</h2>
                    <img src="./assets/images/about/home_line.png" alt="">
                    <div class="social-icons">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="address">
                    <h2>Address</h2>
                    <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                    <div class="address-links">
                        <li class="address1"><i class="fa-solid fa-location-dot"></i>107 Nguyễn Thái Sơn, P4, Gò Vấp</li>
                        <li><a href=""><i class="fa-solid fa-phone"></i> +84 898899703</a></li>
                        <li><a href=""><i class="fa-solid fa-envelope"></i> ntpsang@gmail.com</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>