<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="index.html"><img src="/img/logo_dbook.png" alt="" class="img-fluid logo-footer"></a>
            </div>
            <div class="col-md-3" style="margin-left: 20%;">
                <div class="social-links">
                    <h2>Follow Us</h2>  
                    <div class="social-icons">
                        <li><a href=""><i class="fa-brands fa-facebook-f" style="color: #0675e7;"></i> Facebook</a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="address">
                    <h2>Address</h2>
                    <div class="address-links">
                        <li class="address1"><i class="fa-solid fa-location-dot"></i>107 Nguyễn Thái Sơn, P4, Gò Vấp
                        </li>
                        <li><a href=""><i class="fa-solid fa-phone"></i> +84 898899703</a></li>
                        <li><a href=""><i class="fa-solid fa-envelope"></i> ntpsang@gmail.com</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>