<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
               <div class="address">
                    <h2 style="color: #686868;">Giờ làm</h2>
                    <div class="address-links">
                        <li class="address1" style="color: #686868;">Ngày làm: T2-CN
                        </li>
                        <li><a href="" style="color: #686868;">Giờ làm: 7h-12h30 và 13h30-18h</a></li>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-left: 20%;">
                <div class="social-links">
                    <h2 style="color: #686868;">Tư vấn</h2>  
                    <div class="social-icons">
                        <li><a href="" style="color:#686868 ;"><i class="fa-brands fa-facebook-f" style="color: #0675e7;"></i> Facebook</a></li>
                        <li><a href="" style="color:#686868"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="address">
                    <h2 style="color: #686868;">Thông tin</h2>
                    <div class="address-links">
                        <li class="address1" style="color: #686868;">Địa chỉ: 107 Nguyễn Thái Sơn, P4, Gò Vấp
                        </li>
                        <li><a href="" style="color: #686868;">SĐT: +84 898899703</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>