<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #52AA8A; position: fixed; width: 100%; top: 0; z-index: 1;">
  <a class="navbar-brand" href="#" style="font-size: 24px;">DBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/home/trang-chu" style="font-size: 20px;">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" style="font-size: 20px;">Khoa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" style="font-size: 20px;">Bác Sĩ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" style="font-size: 20px;">Đặt lịch <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/home/gioi-thieu" style="font-size: 20px;">Giới thiệu <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #fff;">Welcome Nguyen Tran Phuoc Sang</a>
        <ul class="dropdown-menu" style="width: 100%;">
          <li><a href="#" style="color: #000; padding-left: 20px;">Thông tin cá nhân</a></li>
          <li><a href="#" style="color: #000; padding-left: 20px;">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>