<div style="display: flex; height: 100%;">
    <div style="flex: 0.3;">
        <div class="mt-4" style="display: flex; justify-content: center;">
            {{#if isLogin}}
                {{> auth/login}}
            {{/if}}

            {{#if isRegister}}
                {{> auth/register}}
            {{/if}}
            
            {{#if isEmailXacThuc}}
                {{> auth/quen-mat-khau}}
            {{/if}}

            {{#if isXacThucMa}}
                {{> auth/xac-thuc-ma}}
            {{/if}}

            {{#if isResetPass}}
                {{> auth/reset-pass}}
            {{/if}}
        </div>
    </div>
    <div
        style="display: flex; justify-content: center; flex: 0.7; background: linear-gradient(270deg, #52AA8A 28.97%, rgba(82, 170, 138, 0) 100%);">
        <img src="/img/logo_dbook.png" style="text-align: center;" />
    </div>
</div>