<div style="display: flex; height: 100%;">
    <div style="flex: 0.4;">
        <div class="" style="display: flex; justify-content: center;">
            {{#if isLogin}}
                {{> auth/login}}
            {{/if}}

            {{#if isRegister}}
                {{> auth/register}}
            {{/if}}
            
            {{#if isEmailXacThuc}}
                {{> auth/quen-mat-khau}}
            {{/if}}

            {{#if isXacThucMa}}
                {{> auth/xac-thuc-ma}}
            {{/if}}

            {{#if isResetPass}}
                {{> auth/reset-pass}}
            {{/if}}
        </div>
    </div>
    <div
        style="display: flex; justify-content: center; flex: 0.6; background:  #ffffff;">
        <img src="/img/poster.png"  />
    </div>
</div>