<div>
    {{> menu-user}}
    {{#if isTrangChu}}
    {{> home/trang-chu}}
    {{/if}}
    {{#if isGioiThieu}}
    {{> home/gioi-thieu}}
    {{/if}}
    {{#if isDatLich}}
    {{> home/dat-lich}}
    {{/if}}
    {{#if isKhoa}}
    {{> home/khoa}}
    {{/if}}
    {{> footer}}
</div>