<div>
    <div style="margin-top: 60px; background-color: #D9D9D9;">
        <h5 style="padding-left: 20px;">Trang chủ / Đặt lịch</h5>
    </div>
    <div style="padding-top: 50px;">
        <h1 style="text-align: center; color: #8CCBD3;">Đăng ký khám bệnh</h1>
        <div style="display: flex; justify-content: center;">
            <div style="height: 5px; background-color: #8f8fa3; width: 10%;"></div>
        </div>
    </div>
    <div style="display: flex; justify-content: center;align-items: center; flex-direction: column; margin-top: 30px;">
        <ul class="chu-y">
            <p style="">Quý khách hàng có nhu cầu đặt hẹn khám tại <strong>Dbook</strong>, xin vui lòng thực hiện
                theo hướng dẫn:</p>
            <li>- Đặt hẹn bằng cách gọi tổng đài Chăm sóc khách hàng tại số <strong>0949211311</strong> hoặc
                <strong>0898899703</strong>
            </li>
            <li>- Đặt hẹn trực tuyến bằng cách điền thông tin vào mẫu bên dưới.</li>
            <li>- Xin lưu ý, trong các trường hợp khẩn cấp, quý khách vui lòng đến ngay cơ sở y tế gần nhất hoặc đến
                trực
                tiếp Dbook.</li>
        </ul>
        <div>
            <div>
                <h1>Đăng ký khám bệnh</h1>
            </div>
            <div>
                <h3>Chọn loại dịch vụ khám</h3>
                <div style="display: flex">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Khám trực tiếp
                        </label>
                    </div>
                    <div class="form-check" style="margin-left: 50px;">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Khám trực online
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>