<div style="margin-top: 84px; background-color: #D9D9D9;">
    <h5 style="padding-left: 20px;">Trang chủ / Giới thiệu</h5>
</div>
<div class="about-us">
    <div class="col-xl-6 col-lg-6 col-md-9 about-us-1">
        <h1 class="about-us-title text-blue">
            Chào mừng bạn đến với Dbook! Chúng tôi là mạng lưới chăm sóc sức khỏe tư
            nhân hàng đầu tại Việt Nam.
        </h1>
        <p>
            Dbook cam kết hướng tới sự xuất sắc trong hoạt động thăm khám lâm sàng,
            đào tạo và nghiên cứu nhằm cung cấp dịch vụ chăm sóc tốt nhất. Mạng lưới
            chăm sóc sức khỏe của chúng tôi bao gồm hơn
            <strong>500 giường bệnh hoạt động</strong>.
        </p>
        <p>
            Trải qua 1 năm hoạt động, Dbook đã tạo dựng được uy tín vững chắc trong
            việc cung cấp dịch vụ chăm sóc sức khỏe lấy bệnh nhân làm trung tâm, với
            chi phí hợp lý và chất lượng cao. Chúng tôi tự hào trong việc nỗ lực cải
            thiện chất lượng dịch vụ chăm sóc sức khỏe ở Việt Nam, góp phần vào sự
            phồn vinh và an sinh của đất nước. Dbook hiện có hơn
            <strong>1000 nhân viên</strong>
            và đã phục vụ hơn
            <strong>100 ngàn lượt bệnh nhân khám ngoại trú vào năm ngoái</strong>.
        </p>
    </div>
    <div class="col-xl-6 col-md-10 pl-lg-5" style="text-align: center;">
        <img src="/img/gioi-thieu/logo-gioi-thieu.jpg" style="height: 460px;" />
    </div>
</div>
<div style="display: flex; justify-content: space-around; margin-top: 50px; background-color: #f7f7f7; padding: 20px">
    <div class="col-lg-5 col-md-10 order-lg-2" style="padding-right: 100px; padding-top: 15px;">
        <div class="vision-mission">
            <div class="vision-mission-logo d-flex">
                <img src="/img/gioi-thieu/logo-icon.svg" alt="" />
                <h2 class="vision-mission-title">Tầm nhìn của chúng tôi</h2>
            </div>
            <p>Trở thành đơn vị dẫn đầu toàn quốc về lĩnh vực chăm sóc sức khỏe và
                là thương hiệu chăm sóc sức khỏe đáng tin cậy nhất ở Việt Nam.
            </p>
        </div>
        <div class="vision-mission">
            <div class="vision-mission-logo d-flex">
                <img src="/img/gioi-thieu/logo-icon.svg" alt="" />
                <h2 class="vision-mission-title">Sứ mệnh của chúng tôi</h2>
            </div>
            <p>
                Sứ mệnh của chúng tôi là nâng cao sức khỏe và đời sống của người dân
                Việt Nam, thông qua một hệ thống bao gồm các cơ sở chăm sóc sức khỏe
                tại các thành phố lớn với phương châm sáng tạo, tích hợp và lấy bệnh
                nhân làm trung tâm.
            </p>
        </div>
        <div class="didyouknow wow bounceInRight" data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: bounceInRight;">
            <div class="row">
                <div class="col-md-3">
                    <img src="/img/gioi-thieu/bong-hoa.png" alt="" />
                </div>
                <div class="col-md-9">
                    <h4>Giấc mơ đằng sau tên gọi</h4>
                    <p>
                        Sự hoàn mỹ là ngôi sao Bắc Đẩu định hướng mọi việc chúng tôi làm
                        tại các bệnh viện và phòng khám.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-10 order-lg-1">
        <div class="introduction-banner">
            <img src="/img/gioi-thieu/logo.jpg" />
        </div>
    </div>
</div>
<div style="padding-top: 50px;">
    <h1 style="text-align: center; color: #8CCBD3;">Về chúng tôi</h1>
    <div style="display: flex; justify-content: center;">
        <div style="height: 5px; background-color: #8f8fa3; width: 10%;"></div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center story-item">
        <div class="col-lg-4 col-md-10 wow fadeInLeft" data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: fadeInLeft;">
            <img src="/img/gioi-thieu/customer.png" alt="" />
        </div>
        <div class="col-lg-8 col-md-10 align-self-center wow fadeInRight" data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: fadeInRight;">
            <h4>Đội ngũ chuyên gia</h4>
            <p>Các chuyên viên giỏi ở các lĩnh vực hỗ trợ cũng được tập hợp để tạo
                nên các quy trình dịch vụ toàn diện, khoa học, hiệu quả.
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-10">
            <hr />
        </div>
    </div>

    <div class="row row justify-content-center story-item">
        <div class="col-lg-4 col-md-10 order-lg-2 wow fadeInRight" data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: fadeInRight;">
            <img src="/img/gioi-thieu/hospital.jpg" alt="" />
        </div>
        <div class="col-lg-8 col-md-10 order-lg-1 align-self-center wow fadeInLeft" data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: fadeInLeft;">
            <h4>BỆNH VIỆN KHÁCH SẠN 5 SAO</h4>
            <p>Bệnh viện được xây dựng theo mô hình bệnh viện khách sạn chú trọng
                đến việc đáp ứng đầy đủ các điều kiện cho hoạt động chuyên môn khám
                chữa bệnh, đồng thời mang lại những trải nghiệm chất lượng cao của
                khách hàng về mặt không gian, cảnh quan, phòng nội trú, nhà hàng…
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-10">
            <hr />
        </div>
    </div>

    <div class="row justify-content-center story-item">
        <div class="col-lg-4 col-md-10 wow fadeInLeft" data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: fadeInLeft;">
            <img src="/img/gioi-thieu/trang-thiet-bi.jpg" alt="" />
        </div>
        <div class="col-lg-8 col-md-10 align-self-center wow fadeInRight" data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: fadeInRight;">
            <h4>CƠ SỞ VẬT CHẤT – TRANG THIẾT BỊ HIỆN ĐẠI</h4>
            <p>Bệnh viện Đa khoa Dbook là đơn vị hàng đầu tại Việt Nam đầu tư lớn
                cho các trang thiết bị máy móc, phương pháp chẩn đoán và điều trị bệnh
                hàng đầu thế giới. Nhiều trang thiết bị máy móc có số lượng ít trên
                thế giới và hiếm có ở Việt Nam như:

                <br />- Hệ thống phòng mổ đạt chuẩn Hybrid sẵn sàng phục vụ cho các ca
                đại phẫu thuật;
                <br />- Hệ thống thiết bị chẩn đoán và điều trị bệnh tiền đình;
                <br />- Hệ thống máy và phần mềm ứng dụng trí tuệ nhân tạo trong nuôi
                cấy phôi phục vụ quá trình thụ tinh ống nghiệm;
                <br />- Phòng lab đạt tiêu chuẩn sạch cấp độ cao nhất phục vụ hoạt
                động của ngân hàng tế bào gốc, trung tâm hỗ trợ sinh sản;
                <br />- Các thiết bị phẫu thuật nội soi chuyên dụng cho y học bào
                thai, hệ thống robot hỗ trợ phẫu thuật ARTIS Pheno ứng dụng trí tuệ
                nhân tạo thế hệ mới nhất phục vụ các phẫu thuật cơ xương khớp;…
                <br />- Hệ thống máy xét nghiệm Cobas Pro hiện đại hàng đầu Đông Nam Á
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-10">
            <hr />
        </div>
    </div>

    <div class="row justify-content-center story-item">
        <div class="col-lg-4 col-md-10 order-lg-2 wow fadeInRight" data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: fadeInRight;">
            <img src="/img/gioi-thieu/dich-vu.jpg" alt="" />
        </div>
        <div class="col-lg-8 col-md-10 order-lg-1 align-self-center wow fadeInLeft" data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: fadeInLeft;">
            <h4>DỊCH VỤ CAO CẤP – GIÁ THÀNH HỢP LÝ</h4>
            <p>Bệnh viện hướng tới phục vụ đông đảo khách hàng, người bệnh với giá
                thành hợp lý, nhiều chính sách ưu đãi về chi phí, hỗ trợ trả góp không
                lãi suất cho nhiều dịch vụ khám chữa bệnh. Hàng trăm ngàn người dân đã
                thăm khám và điều trị nhiều bệnh lý mà có thể sử dụng nhiều dịch vụ
                cao cấp không chỉ về chuyên môn mà còn là dịch vụ chăm sóc khách hàng
                chất lượng cao ngay tại Việt Nam.
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-10">
            <hr />
        </div>
    </div>

    <div class="row justify-content-center story-item">
        <div class="col-lg-4 col-md-10 wow fadeInLeft" data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: fadeInLeft;">
            <img src="/img/gioi-thieu/quy-trinh.jpg" alt="" />
        </div>
        <div class="col-lg-8 col-md-10 align-self-center wow fadeInRight" data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: fadeInRight;">
            <h4>QUY TRÌNH KHOA HỌC – TOÀN DIỆN</h4>
            <p>Quy trình thăm khám, điều trị được xây dựng toàn diện khoa học, giúp
                tiết kiệm thời gian chi phí và công sức của khách hàng, người bệnh.
                Dịch vụ chăm sóc khách hàng chuyên nghiệp tận tâm. Hệ thống tổng đài
                chăm sóc khách hàng chuyên nghiệp trên nhiều kênh tiếp cận như tổng
                đài điện thoại, website, mạng xã hội,…
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-10">
            <hr />
        </div>
    </div>

    <div class="row justify-content-center story-item">
        <div class="col-lg-4 col-md-10 order-lg-2 wow fadeInRight" data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: fadeInRight;">
            <img src="/img/gioi-thieu/cong-dong.jpg" alt="" />
        </div>
        <div class="col-lg-8 col-md-10 order-lg-1 align-self-center wow fadeInLeft" data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: fadeInLeft;">
            <h4>TRÁCH NHIỆM VỚI CỘNG ĐỒNG</h4>
            <p>Bệnh viện luôn thực hiện tốt, có trách nhiệm với cộng đồng thông qua
                nhiều hoạt động từ thiện, xã hội có ý nghĩa như đồng hành với Quỹ hỗ
                trợ bệnh nhân ung thư “Ngày mai tươi sáng”, tài trợ chi phí cho các ca
                bệnh học ung thư phức tạp, thay xương khớp cho các bệnh nhân ung thư,
                ủng hộ các chương trình hỗ trợ đồng bào bị bão lụt…
            </p>
        </div>
    </div>
</div>
<div style="padding-top: 50px;">
    <h1 style="text-align: center; color: #8CCBD3;">Người sáng lập</h1>
    <div style="display: flex; justify-content: center;">
        <div style="height: 5px; background-color: #8f8fa3; width: 10%;"></div>
    </div>
</div>
<div style="display: flex; justify-content: center; margin-top: 50px;">
    <div class="doctor">
        <img
            src="https://images.pexels.com/photos/6749778/pexels-photo-6749778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <h3>Doctor1</h3>
        <p>Chủ tịch hội đồng quản trị</p>
    </div>
    <div class="doctor">
        <img
            src="https://images.pexels.com/photos/6749778/pexels-photo-6749778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <h3>Doctor2</h3>
        <p>Phó chủ tịch</p>
    </div>
    <div class="doctor">
        <img
            src="https://images.pexels.com/photos/6749778/pexels-photo-6749778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <h3>Doctor3</h3>
        <p>Tổng giám đốc</p>
    </div>
</div>