<div style="margin-top: 84px; background-color: #D9D9D9;">
    <h5 style="padding-left: 20px;">Trang chủ / Khoa</h5>
</div>
<div style="padding-top: 50px;">
    <h1 style="text-align: center; color: #8CCBD3;">Danh sách chuyên khoa</h1>
    <div style="display: flex; justify-content: center;">
        <div style="height: 5px; background-color: #8f8fa3; width: 10%;"></div>
    </div>
</div>
<div class="form-group" style="margin-top: 50px;">
    <div style="display: flex; justify-content: center;">
        <input type="text" class="form-control" placeholder="Tìm chuyên khoa" style="width: 30%;">
        <button class="btn btn-primary" style="margin-left: 10px;">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>
<div style="background-color: #f0f2f1; padding-top: 45px; padding-bottom: 45px; margin-top: 50px;">
    <div class="container">
        <div class="cac-khoa">
            {{#each khoa}}
            <div class="item">
                <div class="info_khoa" style="padding: 15px 15px 15px 15px; text-align: center;">
                    <a title="{{ten_khoa}}" href="#">
                        <div class="icon_khoa div_icon">
                            <img alt="Khoa Cấp cứu" loading="lazy" class="img-responsive " src="{{img}}">
                        </div>
                    </a>
                    <a title="{{ten_khoa}}" href="#">
                        <h3 class="ten_khoa">
                            {{ten_khoa}}</h3>
                    </a>
                    <div class="mt_10 lh_18"></div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div style="padding-top: 50px;">
    <h1 style="text-align: center; color: #8CCBD3;">Các hình thức hỗ trợ</h1>
    <div style="display: flex; justify-content: center;">
        <div style="height: 5px; background-color: #8f8fa3; width: 10%;"></div>
    </div>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
    <div class="ho-tro">
        <img src="/img/trang-chu/customer-service.png" />
        <h3>Hỗ trợ đặt khám</h3>
        <p>0898899703 <br> 0949218455</p>
    </div>
    <div class="ho-tro">
        <img src="/img/trang-chu/facebook.png" />
        <h3>Fanpage Facebook</h3>
        <p>Bấm để tới fanpage</p>
    </div>
    <div class="ho-tro">
        <img src="/img/trang-chu/qr-zalo.png" />
        <h3>QR Zalo</h3>
        <p>Quết để đến Zalo</p>
    </div>
    <div class="ho-tro">
        <img src="/img/trang-chu/email.png" />
        <h3>Email liên hệ</h3>
        <p>ntpsang231@gmail.com <br> tuantai@gmail.com</p>
    </div>
</div>