<div>
    <div class="" style="display: flex; height: 250px; background-color: #52AA8A; margin: 70px 0 20px 0;">
        <div style="padding: 25px 40px 30px 50px; color: #fff; width: 300px;">
            <h1>D-BOOK</h1>
            <p style="font-size: 16px;">Được chăm sóc sức khỏe của bạn là niềm vinh hạnh của chúng tôi...</p>
            <button class="btn" style="width: 100%;">Đặt lịch</button>
        </div>
        <div class="slideshow-container">

            <div class="mySlides">
                <img src="http://thietbiytevn.net/wp-content/uploads/2016/07/1.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <img src="https://trungtamyteduyxuyen.vn/wp-content/uploads/2022/06/s4.jpg" style="width:100%">
            </div>

            <div class="mySlides">
                <img src="https://trungtamytetienphuoc.org.vn/uploads/news/2020_10/banner1.jpg" style="width:100%">
            </div>

            <a class="prev" style="color: #fff;" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" style="color: #fff;" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
    <div style="padding-top: 30px;">
        <h1 style="text-align: center; color: #8CCBD3;">Tại sao chọn chúng tôi?</h1>
        <div style="display: flex; justify-content: center;">
            <div style="height: 5px; background-color: #8f8fa3; width: 10%;"></div>
        </div>
        <h5 style="text-align: center; width: 100%; padding-top: 20px;">Hệ thống Bệnh Viện Đa Khoa DBook là địa chỉ uy
            tín về khám chữa
            bệnh, với đội ngũ chuyên gia - bác sĩ hàng đầu,<br>trang thiết bị hiện đại, cùng các phác đồ điều trị hiệu
            quả,
            khoa học mang đến dịch vụ khám, điều trị, <br>chăm sóc sức khỏe cao cấp, toàn diện với chi phí hợp lý.</h5>
    </div>
    <div style="padding-top: 50px;">
        <div style="display: flex; height: 500px;">
            <div style="display: flex; justify-content: space-evenly;flex-direction: column; padding: 0 70px 0 70px">
                <div class="why">
                    <div style="display: flex; align-items: center;">
                        <div class="item-why">
                            <img src="/img/trang-chu/doctors.png" />
                        </div>
                        <h6 class="tite-why">ĐỘI NGŨ CHUYÊN GIA</h6>
                    </div>
                    <p class="value-why">Các chuyên viên giỏi ở các lĩnh vực hỗ trợ cũng được tập hợp để tạo nên các quy
                        trình dịch vụ
                        toàn diện, khoa học, hiệu quả.</p>
                </div>
                <div class="why">
                    <div style="display: flex; align-items: center;">
                        <div class="item-why">
                            <img src="/img/trang-chu/repair-tool.png" />
                        </div>
                        <h6 class="tite-why">DỊCH VỤ CAO CẤP</h6>
                    </div>
                    <p class="value-why">Bệnh viện hướng tới phục vụ đông đảo khách hàng, người bệnh với giá thành hợp
                        lý, nhiều chính
                        sách ưu đãi về chi phí, hỗ trợ trả góp không lãi suất cho nhiều dịch vụ khám chữa bệnh.</p>
                </div>
            </div>
            <div>
                <img src="/img/trang-chu/banner-why.png" style="height: 400px; width: 600px;" />
            </div>
            <div style="display: flex; justify-content: space-evenly;flex-direction: column; padding: 0 70px 0 70px;">
                <div class="why">
                    <div style="display: flex; align-items: center;">
                        <div class="item-why">
                            <img src="/img/trang-chu/ventilator.png" />
                        </div>
                        <h6 class="tite-why">TRANG THIẾT BỊ HIỆN ĐẠI</h6>
                    </div>
                    <p class="value-why">Bệnh viện Đa khoa Dbook là đơn vị hàng đầu tại Việt Nam đầu tư lớn cho các
                        trang thiết bị máy
                        móc, phương pháp chẩn đoán và điều trị bệnh hàng đầu thế giới.</p>
                </div>
                <div class="why">
                    <div style="display: flex; align-items: center;">
                        <div class="item-why">
                            <img src="/img/trang-chu/value-chain.png" />
                        </div>
                        <h6 class="tite-why">QUY TRÌNH KHOA HỌC</h6>
                    </div>
                    <p class="value-why">Quy trình thăm khám, điều trị được xây dựng toàn diện khoa học, giúp tiết kiệm
                        thời gian chi phí
                        và công sức của khách hàng, người bệnh. Dịch vụ chăm sóc khách hàng chuyên nghiệp tận tâm. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="reason">
        <div style="display: flex; flex: 1;">
            <div class="item" style="background-color: #43b1d2;">
                <div>
                    <img src="/img/trang-chu/gtr1.png" />
                </div>
                <h3>Chuyên gia đầu ngành - Bác sĩ giỏi</h3>
            </div>
            <div class="item" style="background-color: #3eb6c6;">
                <div>
                    <img src="/img/trang-chu/gtr2.png" />
                </div>
                <h3>Trang thiêt bị hiện đại bậc nhất</h3>
            </div>
            <div class="item" style="background-color: #3dbbba;">
                <div>
                    <img src="/img/trang-chu/gtr3.png" />
                </div>
                <h3>Hiệu quả điều trị cao thành tựu nổi bật</h3>
            </div>
            <div class="item" style="background-color: #37c3a8;">
                <div>
                    <img src="/img/trang-chu/gtr4.png" />
                </div>
                <h3>Quy trình toàn diện khoa học chuyên nghiệp</h3>
            </div>
            <div class="item" style="background-color: #0fc19f;">
                <div>
                    <img src="/img/trang-chu/gtr5.png" />
                </div>
                <h3>Dịch vụ cao cấp chi phí hợp lý</h3>
            </div>
        </div>
    </div>
    <div style="padding-top: 50px;">
        <h1 style="text-align: center; color: #8CCBD3;">Đội ngũ chuyên gia</h1>
        <div style="display: flex; justify-content: center;">
            <div style="height: 5px; background-color: #8f8fa3; width: 10%;"></div>
        </div>
        <h5 style="text-align: center; width: 100%; padding-top: 20px;">Dbook quy tụ đội ngũ chuyên gia, bác sĩ, dược
            sĩ và điều dưỡng được đào tạo bài bản đến chuyên sâu tại <br>Việt nam và nhiều nước có nền y học phát triển
            như
            Mỹ, Anh, Pháp...</h5>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 50px;">
        <div class="doctor">
            <img
                src="https://images.pexels.com/photos/6749778/pexels-photo-6749778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
            <h3>Doctor1</h3>
            <p>Giám đốc Trung tâm Tim mạch</p>
        </div>
        <div class="doctor">
            <img
                src="https://images.pexels.com/photos/6749778/pexels-photo-6749778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
            <h3>Doctor2</h3>
            <p>Giám đốc Trung tâm Tiết niệu - Thận học</p>
        </div>
        <div class="doctor">
            <img
                src="https://images.pexels.com/photos/6749778/pexels-photo-6749778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
            <h3>Doctor3</h3>
            <p>Giám đốc Trung tâm đào tạo và Nghiên cứu khoa học</p>
        </div>
        <div class="doctor">
            <img
                src="https://images.pexels.com/photos/6749778/pexels-photo-6749778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
            <h3>Doctor4</h3>
            <p>Giám đốc Trung tâm Sản Phụ khoa</p>
        </div>
    </div>
    <div class="banner-thongke">
        <div class="thong-ke"> 
            <img src="/img/trang-chu/surgery.png"/>
            <h1>1000+</h1>
            <h3>Ca phẫu thuật thành công</h3>
        </div>
        <div class="thong-ke">
            <img src="/img/trang-chu/doctors2.png"/>
            <h1>200+</h1>
            <h3>Bác sĩ</h3>
        </div>
        <div class="thong-ke">
            <img src="/img/trang-chu/solidarity.png"/>
            <h1>7000+</h1>
            <h3>Ca chữa lành</h3>
        </div>
        <div class="thong-ke">
            <img src="/img/trang-chu/star.png"/>
            <h1>50+</h1>
            <h3>Xe cấp cứu</h3>
        </div>
    </div>
    <div style="padding-top: 50px;">
        <h1 style="text-align: center; color: #8CCBD3;">Các hình thức hỗ trợ</h1>
        <div style="display: flex; justify-content: center;">
            <div style="height: 5px; background-color: #8f8fa3; width: 10%;"></div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <div class="ho-tro">   
            <img src="/img/trang-chu/customer-service.png"/>
            <h2>Hỗ trợ đặt khám</h2>
            <p>0898899703 <br> 0949218455</p>
        </div>
        <div class="ho-tro">
            <img src="/img/trang-chu/facebook.png"/>
            <h2>Fanpage Facebook</h2>
            <p>Bấm để tới fanpage</p>
        </div>
        <div class="ho-tro">
            <img src="/img/trang-chu/qr-zalo.png"/>
            <h2>QR Zalo</h2>
            <p>Quết để đến Zalo</p>
        </div>
        <div class="ho-tro">
            <img src="/img/trang-chu/email.png"/>
            <h2>Email liên hệ</h2>
            <p>ntpsang231@gmail.com <br> tuantai@gmail.com</p>
        </div>
    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    showSlides2(slideIndex)

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }

    function showSlides2(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides2, 3000);
    }
</script>